@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 0;
}

a {
    text-decoration: none;
    outline: 0;
}
/*头部样式*/

.header {
	height: 66px;
	width: 100%;
	background: url(../img/bg.png) repeat-x;
}

.header-bd {
	width: 1000px;
	height: 66px;
	margin: 0 auto;
	/*background: salmon;*/
	position: relative;
}

.header-left {
	/*background: bisque;*/
	height: 58px;
	width: 423px;
	position: absolute;
	/*background: url(../img/logo.png) no-repeat;
	height: 66px;*/
}
.logo {
    float: left;
    width: 411px;
    height: 50px;
    background: url(../img/logo.png) 12px 8px no-repeat;
    padding: 8px 0 0 12px;
    text-indent: -9999px;
}
/*---------------login-info------------------------------*/
.header-right {
	/*background: darkblue;*/
	height: 66px;
	width: 577px;
	position: absolute;
	right: 0;
}

.login-info {
	height: 30px;
	width: 513px;
	line-height: 30px;
	float: right;
	padding-right: 5px;
	margin-bottom: 2px;
	font-size: 12px;
    font-family: Tahoma,"宋体";
	/*background: red;*/
}

.login-info a {
    color: #666;
}

.login-info .login-txt {
    float: right;
}
.login-info .login-txt a {
    margin: 0 5px;
}
.login-info .colorA {
    color: #fb7403;
}

.menu {
    float: right;
    width: 80px;
    height: 30px;
    margin-right: 35px;
    position: relative;
    z-index: 2999;
    text-align: left;
}

.menu .menu-bd {
    display: block;
    width: 80px;
    height: 30px;
    line-height: 30px;
}

.menu .menu-bd b {
    display: block;
    width: 10px;
    height: 5px;
    background: url(../img/icon8.png) no-repeat;
    background-position: 0 -35px;
    overflow: hidden;
    position: absolute;
    top: 14px;
    right: 2px;
}

.menu .menu-list {
    width: 130px;
    padding: 5px 10px;
    border: 1px solid #298cce;
    background: #eef1f8;
    position: absolute;
    top: 30px;
    left: -2px;
    z-index: 2999;
}

.menu .menu-list b {
    display: block;
    width: 13px;
    height: 7px;
    overflow: hidden;
    background: url(../img/icon_arrow2.png) -1px 0 no-repeat;
    position: absolute;
    top: -7px;
    left: 50%;
    margin-left: -7px;
}

.menu .menu-list li {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding-left: 5px;
}

.menu .menu-list li a {
    border-left: 3px solid #eef1f8;
    padding-left: 5px;
}

.menu .menu-list .line {
    border-bottom: 1px dashed #999;
    height: 1px;
    line-height: 1px;
    margin: 5px 0;
    overflow: hidden;
}
/*--------------------nav----------------------*/
.nav {
	width: 420px;
	height: 34px;
	padding: 0 0 0 63px;
	background: url(../img/bg_nav.png) no-repeat;
	float: right;
	position: relative;
}

.nav li {
    float: left;
    width: 90px;
    height: 30px;
    text-align: center;
    margin-right: 10px;
    margin-top: 4px;
}

.nav li a {
    display: block;
    height: 28px;
    line-height: 28px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
.nav li .current {
    background: url(../img/bg_nav01.png) repeat-x;
    border-radius: 3px;
    color: #478dcd;
    font-weight: 700;
}
/*------------------------头部结束----------------------------------------*/