@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color:#333;
}
li{
	list-style: none;
}
body {
    background: #fff;
    font-size: 12px;
    font-family: Tahoma,"宋体";
    color: #333;
    margin: 0;
    padding: 0;
    position: relative;
}
.content {
    width: 980px;
    min-height: 571px;
    _height: 571px;
    margin: 0 auto;
}
.crumbs {
    height: 32px;
    line-height: 32px;
    color:#333;
}
/*左侧导航栏*/
.sidebar {
    width: 200px;
    float: left;
    margin-right: 10px;
}
.layout {
    border: 1px solid #1678be;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    background: url(../img/bg.png) repeat-x;
    background-position: 0 -400px;
    min-height:511px;
}
.layout .lay-hd {
    height: 32px;
    line-height: 30px;
    color: #e5f8ff;
    padding-left: 20px;
    font-size: 14px;
    position: relative;
}
.order .lay-bd {
    background: #fff;
    padding: 14px;
    min-height: 442px;
    _height: 442px;
}
.my .lay-bd {
    position: relative;
    z-index: 0;
    height:440px;
    background: #EEF1F8;
    padding: 20px 14px;
}
.nav-label {
    width: 198px;
    height: 41px;
    z-index: -1;
    background: #fff;
    position: absolute;
    left: 0px;
    _left: -14px;
    top: 59px;
}
.nav-label span {
    display: block;
    width: 5px;
    height: 100%;
    background: #66C8E8;
    float: left;
}
.my dl dt, .my dl dd {
    height: 39px;
    line-height: 39px;
    border-bottom: 1px solid #ddd;
}

.my dl dt a {
    font-size: 14px;
    color: #333;
}
.my dl dd a {
    color: #666;
    padding-left: 28px;
}
.my dl .prev {
    border-bottom: 1px solid #fff;
}
.my dl .cur {
    border-bottom: 1px solid #fff;
}
 .my dl .cur a {
    color: #66C8E8;
}

/*右侧主体*/
.main {
    width: 770px;
    float: left;
}
.layout {
    border: 1px solid #1678be;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    background-position: 0 -400px;
}
.layout .lay-hd {
    height: 32px;
    line-height: 30px;
    color: #e5f8ff;
    padding-left: 20px;
    font-size: 14px;
    position: relative;
}
.my .lay-bd {
    position: relative;
    z-index: 0;
    height:440px;
    background: #EEF1F8;
    padding: 20px 14px;
}
/*没有相关信息*/
.no-ticket-w {
    height: 66px;
    padding: 65px 0;
    border-bottom: 1px dashed #999;
    border-top: 1px dashed #999;
    margin-bottom: 103px;
}
.no-ticket {
    width: 435px;
    margin: 0 auto;
    height: 66px;
    line-height: 33px;
}
.no-ticket .i-no {
    display: block;
    float: left;
    margin-right: 10px;
}
.i-no {
    display: block;
    width: 66px;
    height: 66px;
    background: url(../img/bg02.png) repeat-x;
    background-position: -60px 0;
}
.no-ticket p {
    line-height: 30px;
    font-size: 16px;
    color: #AAAAAA;
    font-weight: 700;
    padding-top: 5px;
}
/*查询到数据*/
.order-item {
	margin-top:10px;
    border: 1px solid #41BAE2;
    margin-bottom: 10px;
}
.order-item-hd {
	position: relative;
    height: 34px;
    line-height: 34px;
    background: #41BAE2;
    color: #fff;
    padding: 0 5px;
}
.fl {
    float: left;
}
.fl {
    float: left !important;
}
.order-item-hd .time {
    float: left;
    width: 168px;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
}

/*车票*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 12px;
    font-family: Tahoma,"宋体";
}
.table-c {
    width: 100%;
    border: 1px solid #c0d7e4;
    background: #fff;
    color: #666;
}
.table-c th {
    line-height: 40px;
    background: #eef1f8;
    font-weight: 400;
    border: 1px solid #c0d7e4;
    color: #333;
}

.table-c td {
    line-height: 20px;
    padding: 6px 0;
    text-align: center;
    border: 1px solid #c0d7e4;
}
.btn92 {
    width: 90px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #ccc;
    background: url(../img/bg_btn.png) repeat-x;
    background-position: 0 -100px;
    display: inline-block;
    text-align: center;
    color: #333;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.btn30s {
	width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    background: url(../img/bg_btn.png) repeat-x;
    background-position: 0 0;
    color: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
}


/*尾部*/
.footer {
    height: 60px;
    line-height: 20px;
    padding: 20px 0;
    border-top: 2px solid #468dcd;
    background: #f6f6f6;
    margin-top: 10px;
    text-align: center;
    color: #999;
    font-size: 12px;
    font-family: Tahoma,"宋体";
}

.return-top {
    display: block;
    width: 42px;
    height: 42px;
    background: url(../img/bg_return.png) no-repeat;
    position: fixed;
    bottom: 60px;
    right: 30px;
}

div.dhx_modal_cover {
    border: currentColor;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    filter: alpha(opacity=50);
    opacity: .5;
    z-index: 19999;
    cursor: default;
    zoom: 1;
    background-color: rgba(0,0,0,255);
}
.page {
    height: 30px;
    padding: 20px 0;
    text-align: center;
}


.welcome {
    height: 330px;
    padding-top: 60px;
    border-bottom: 1px dashed #999;
    background: url(../img/bg_train.png) bottom right no-repeat;
}
.welcome-bd {
    width: 350px;
    margin: 0 auto;
}

.welcome-bd h2 {
    font-family: "微软雅黑","黑体";
    font-size: 16px;
}
.welcome-bd h2 span {
    color: #0059b2;
}
.welcome-bd p {
    line-height: 20px;
    font-size:16px;
}
